<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="number">
            <name>orderHours</name>
            <label>Zeitraum in Stunden</label>
            <value>24</value>
            <description>Welcher Zeitraum soll exportiert werden?</description>
        </element>

        <element type="button">
            <name>defaultOptionsButton</name>
            <label><![CDATA[<b>Standardwerte Einstellungen</b>]]></label>
        </element>

        <element type="text">
            <name>defaultSellerId</name>
            <label>Verkäufer-Nummer</label>
            <value>50</value>
            <description>Die standard Verkäufer-Nummer.</description>
        </element>

        <element type="text">
            <name>defaultProvision</name>
            <label>Provisions-Schlüssel</label>
            <value>99</value>
            <description>Der standard Provisions-Schlüssel.</description>
        </element>

        <element type="button">
            <name>fileButton</name>
            <label><![CDATA[<b>Ordner/Datei Einstellungen</b>]]></label>
        </element>

        <element type="text">
            <name>csvFolder</name>
            <label>Ordner für die .csv Dateien</label>
            <value>sync/export</value>
            <description>Der Ordner sollte relativ zum Stammverzeichnis angegeben werden.</description>
        </element>

        <element type="text">
            <name>csvPrefix</name>
            <label>Datei Präfix</label>
            <value>online-shop-</value>
            <description>Ein optionaler Präfix der .csv Datei.</description>
        </element>

    </elements>
</config>
